{%extends 'index.html'%}    
{% block content %}

<div class="p-5">
    <h1 class="text-center text-black">Computers and Laptops</h1>
</div>

<div class="container computers">
    <div class="row mt-5">
        <div class="col-3 d-flex justify-content-center mt-3">
            <a href="#!" class="category-link d-flex align-items-center" style="text-decoration: none;">
                <div class="category-container border border-black text-center">
                    <img src="https://images-cdn.ubuy.com.sa/633b05511a2bfd375b6a2dda-windows-10-laptop-computer-chuwi.jpg" style="width: 65%;height: 40%;" class="category-image" alt="Category 1">
                    <div class="category-content">
                        <h5 class="text-danger">Computers & Laptops</h5>
                        <div class="d-flex justify-content-center">
                            <p class="text-black">Explore our latest laptops</p>
                            <p class="text-danger" style="margin-left: 5px;">5,600SAR</p>
                        </div>    
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3 d-flex justify-content-center mt-3">
            <a href="#!" class="category-link d-flex align-items-center" style="text-decoration: none;">
                <div class="category-container border border-black text-center">
                    <img src="https://images-cdn.ubuy.com.sa/633b05511a2bfd375b6a2dda-windows-10-laptop-computer-chuwi.jpg" style="width: 65%;height: 40%;" class="category-image" alt="Category 1">
                    <div class="category-content">
                        <h5 class="text-danger">Computers & Laptops</h5>
                        <div class="d-flex justify-content-center">
                            <p class="text-black">Explore our latest laptops</p>
                            <p class="text-danger" style="margin-left: 5px;">5,600SAR</p>
                        </div>    
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3 d-flex justify-content-center mt-3">
            <a href="#!" class="category-link d-flex align-items-center" style="text-decoration: none;">
                <div class="category-container border border-black text-center">
                    <img src="https://images-cdn.ubuy.com.sa/633b05511a2bfd375b6a2dda-windows-10-laptop-computer-chuwi.jpg" style="width: 65%;height: 40%;" class="category-image" alt="Category 1">
                    <div class="category-content">
                        <h5 class="text-danger">Computers & Laptops</h5>
                        <div class="d-flex justify-content-center">
                            <p class="text-black">Explore our latest laptops</p>
                            <p class="text-danger" style="margin-left: 5px;">5,600SAR</p>
                        </div>    
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3 d-flex justify-content-center mt-3">
            <a href="#!" class="category-link d-flex align-items-center" style="text-decoration: none;">
                <div class="category-container border border-black text-center">
                    <img src="https://images-cdn.ubuy.com.sa/633b05511a2bfd375b6a2dda-windows-10-laptop-computer-chuwi.jpg" style="width: 65%;height: 40%;" class="category-image" alt="Category 1">
                    <div class="category-content">
                        <h5 class="text-danger">Computers & Laptops</h5>
                        <div class="d-flex justify-content-center">
                            <p class="text-black">Explore our latest laptops</p>
                            <p class="text-danger" style="margin-left: 5px;">5,600SAR</p>
                        </div>    
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3 d-flex justify-content-center mt-3">
            <a href="#!" class="category-link d-flex align-items-center" style="text-decoration: none;">
                <div class="category-container border border-black text-center">
                    <img src="https://images-cdn.ubuy.com.sa/633b05511a2bfd375b6a2dda-windows-10-laptop-computer-chuwi.jpg" style="width: 65%;height: 40%;" class="category-image" alt="Category 1">
                    <div class="category-content">
                        <h5 class="text-danger">Computers & Laptops</h5>
                        <div class="d-flex justify-content-center">
                            <p class="text-black">Explore our latest laptops</p>
                            <p class="text-danger" style="margin-left: 5px;">5,600SAR</p>
                        </div>    
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}